.dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown a:hover {
    background-color: #2424A8;
  }
  
  .dropgomb:hover .dropdown {
    display: block;
  }
  
  .dropgomb {
    display: inline-block;
  }
  
  .active_dropdown {
    background-color: #145e42;
  }

  .inactive_dropdown {
    background-color: #31005f;
  }