#footer {
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 100%;
    margin-top: auto;
    
}

    #footer_link{
        text-decoration: none;
    }

    .footer-p{
        background-color: black;
        text-decoration: none;
    }